<h1>Atualizar dados do investimento: <%= @investimento.name %></h1>

<% if @investimento.errors.any? %>
  <h3>Os seguintes erros foram encontrados:</h3>
  <ul>
      <% @investimento.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
  </ul>
<% end %>

<hr>
<%= form_for @investimento do |f| %>

<h4>Dados:</h4><br/>
<p><%= f.label :name %>: <%= f.text_field :name %> </p>
<p>Valor: <%= number_to_currency(@investimento.price) %></p>
<p>Lucro(%): <% if @investimento.nivel == 1 %>
  5%
  <% elsif @investimento.nivel == 2 %>
  10%
  <% elsif @investimento.nivel == 3 %>
  15%
  <% end %>
</p>
<p>Lucro(R$): <%= number_to_currency(@investimento.gain) %></p>
<p>Recebido em: <%= @investimento.created_at.to_date %></p>
<p>Retirada (30 dias após o recebimento): <%= @investimento.dataretirada.to_date %></p>
<p><%= f.submit %></p>
<% end %>
<%= link_to "Voltar para investimentos", investimentos_path %>